@charset "utf-8";
/* CSS Document */

/* Mobile Adaptation */
 @viewport {
  width: device-width ;
  zoom: 1.0 ;
  } 
  @-ms-viewport {
  width: device-width ;
  }
 
 
 
/* Custom Font */

    @font-face {
    font-family: 'Sentient';
    src: url('/fonts/Sentient.ttf') format('truetype');
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans.ttf') format('truetype');
}

    }
   
