@charset "utf-8";
/* CSS Document */

body {
  background: url(images/finger.jpg);
  background-size:260px;
  background-repeat: repeat;
  color: white;
  font-size: 25px;
  font-family:Garamond, Times New Roman, Times, serif; text-align:center;
}

a:link, a:visited {
 color: white;
  text-decoration:underline;
}

a:hover, a:active {
 color:white;
  text-decoration: none;
}

#box {
 background: #000000a1;
    border-radius: 25px;
    padding: 10px;
    max-width: 400px; 
}
