@charset "utf-8";
/* CSS Document */

body {
  background: url(images/finger.jpg);
  background-size:50%;
  background-repeat: repeat;
  color: white;
  font-size: 25px;
  font-family:Garamond, Times New Roman, Times, serif; text-align:center;
}

a:link, a:visited {
 color: white;
  text-decoration:underline;
}

a:hover, a:active {
 color:white;
  text-decoration: none;
}
