body
{
	margin: 0;
	background-image: url(../imagens/bg.gif);
}

#loginbox_top
{
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: 152px;
	background-image: url(../imagens/topo.png);
}

#loginbox_mid
{
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: 156px;
	background-image: url(../imagens/meio.png);
}

#loginbox_footer
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: 92px;
	background-image: url(../imagens/rodape.png);
}

input[type=text], input[type=password]
{
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../imagens/campo.png);
	width: 136px;
	height: 23px;
	border: 0;
	position: absolute;
	left: 366px;
}

input[type=password]
{
	top: 26px;
}

input[type=submit]
{
	background-image: url(../imagens/botao.png);
	width: 121px;
	height: 23px;
	background: none;
	border: 0;
	cursor: pointer;
	position: absolute;
	top: 56px;
	left: 384px;
}